{% load static %}

<!-- ================================
Start Footer
================================= -->
<footer>
  <div class="footerCol">
    <div class="container">
      <ul class="socialCol">
        <li><a href="https://www.facebook.com/profile.php?id=100020345165302"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://linkedin.com/in/firdavsbek-ismoilov"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://t.me/firdavsbekismoilov"><img src="{% static 'images/telegram.svg' %}" alt="..." style="width:50px; border-radius: 4px;"></a></li>
      </ul>
      <div class="copyrightCol">
        <p>Copyright © {% now 'Y' %} Firdavsbek Ismoilov</p>
      </div>
    </div>
  </div>
</footer>
<!-- ================================
End Footer
================================= -->